.why-section{
background-color: #f3f2f2;
padding:30px 106px;
position: relative;
z-index: -1;

.why-section__header{
font-size: 32px;
font-weight: 300;
margin-bottom: 40px;
}
.why-section__text{
    max-width: 400px;
    color:hsl(233, 26%, 24%);
}
.why-reason{
display: flex;

.why-reason__item{
margin-right: 45px;
width:250px;
margin-top: 30px;
}
}

}