.main-navigation {
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  padding-bottom: 0px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #f7f7f7;
}

.main-navigation .main-navigation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation .main-navigation__inner .main-navigation__logo-link {
  margin-top: -3px;
  display: block;
}

.main-navigation .main-navigation__inner .main-navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
}

.main-navigation .main-navigation__inner .main-navigation__menu .main-navigation__menu-item {
  margin-right: 40px;
  padding-bottom: 16px;
  list-style-type: none;
  color: gray;
  font-size: 15px;
  cursor: pointer;
}

.main-navigation .main-navigation__inner .main-navigation__menu .main-navigation__menu-item:hover {
  border-bottom: 3px solid #1bc21b;
  color: black;
  z-index: 100;
}

.main-navigation .main-navigation__inner .main-navigation__button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 12px 25px;
  color: white;
  border: none;
  border-radius: 5rem;
  margin-bottom: 10px;
}

.main-banner {
  margin-top: 5px;
  height: 700px;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  z-index: -1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-banner .main-banner__general {
  max-width: 450px;
  margin: 159px 106px;
  display: block;
}

.main-banner .main-banner__general .main-banner__header {
  font-size: 48px;
  font-weight: 300;
}

.main-banner .main-banner__general .main-banner__text {
  font-size: 18px;
  color: #9b9b9b;
  margin-bottom: 30px;
  max-width: 380px;
}

.main-banner .main-banner__general .main-banner__button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 12px 25px;
  color: white;
  border: none;
  border-radius: 5rem;
}

.main-banner .main-banner__photo .main-banner__photo-item {
  max-width: 600px;
  position: absolute;
  z-index: -1;
}

.why-section {
  background-color: #f3f2f2;
  padding: 30px 106px;
  position: relative;
  z-index: -1;
}

.why-section .why-section__header {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
}

.why-section .why-section__text {
  max-width: 400px;
  color: #2d314d;
}

.why-section .why-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-section .why-reason .why-reason__item {
  margin-right: 45px;
  width: 250px;
  margin-top: 30px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=style.css.map */