@import 'navigation';
@import 'header';
@import 'variables';
@import 'section';
@import 'article';
@import 'footer';

html{
box-sizing: border-box;
font-family: 'Public Sans', sans-serif;
};

*, ::before, ::after{
box-sizing: inherit;
};

