.main-navigation {
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  padding-bottom: 0px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #f5f4f4;
}

.main-navigation .main-navigation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation .main-navigation__inner .main-navigation__logo-link {
  margin-top: -3px;
  padding-left: 40px;
  display: block;
}

.main-navigation .main-navigation__inner .main-navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
}

.main-navigation .main-navigation__inner .main-navigation__menu .main-navigation__menu-item {
  margin-right: 40px;
  padding-bottom: 16px;
  list-style-type: none;
  color: #9698a6;
  font-size: 15px;
  cursor: pointer;
}

.main-navigation .main-navigation__inner .main-navigation__menu .main-navigation__menu-item:hover {
  border-bottom: 3px solid #1bc21b;
  color: black;
  z-index: 100;
}

.main-navigation .main-navigation__inner .main-navigation__button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 12px 25px;
  color: white;
  border: none;
  border-radius: 5rem;
  margin-bottom: 10px;
}

.main-banner {
  max-width: 1100px;
  width: 90%;
  margin: 0px auto;
  margin-top: 5px;
  height: 700px;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  z-index: -1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-banner .main-banner__general {
  max-width: 450px;
  margin-top: 159px;
  margin-right: 100px;
  display: block;
}

.main-banner .main-banner__general .main-banner__header {
  font-size: 48px;
  font-weight: 300;
}

.main-banner .main-banner__general .main-banner__text {
  font-size: 18px;
  color: #9b9b9b;
  margin-bottom: 30px;
  max-width: 380px;
}

.main-banner .main-banner__general .main-banner__button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 12px 25px;
  color: white;
  border: none;
  border-radius: 5rem;
}

.main-banner .main-banner__photo .main-banner__photo-item {
  max-width: 600px;
  position: absolute;
  z-index: -1;
}

.why-section {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 160px;
  background-color: #f3f4f6;
  position: relative;
  z-index: -1;
}

.why-section .why-section__header {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
}

.why-section .why-section__text {
  max-width: 400px;
  color: #2d314d;
}

.why-section .why-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-section .why-reason .why-reason__item {
  margin-right: 45px;
  width: 250px;
  margin-top: 30px;
}

.why-section .why-reason .why-reason__item .why-reason__header {
  font-weight: 300;
}

.why-section .why-reason .why-reason__item .why-reason__text {
  color: #727274;
  font-size: 15px;
}

.article-container {
  max-width: 1100px;
  width: 90%;
  margin: 0px auto;
}

.article-container .article-container__header {
  font-weight: 300;
  margin-top: 50px;
}

.article-container .article-container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-container .article-container__text .article-container__item {
  max-width: 260px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fafafa;
  border-radius: 8px;
}

.article-container .article-container__text .article-container__item .article-container__item-image {
  max-width: 260px;
  border-radius: 8px;
}

.article-container .article-container__text .article-container__item .article-container__item-name {
  color: #9698a6;
  padding: 25px 10px;
}

.article-container .article-container__text .article-container__item .article-container__item-header {
  padding-left: 10px;
}

.article-container .article-container__text .article-container__item .article-container__item-text {
  color: #9698a6;
  padding: 10px 10px;
  font-size: 14px;
}

.footer-nav__container {
  background-color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-nav__container .footer-nav__logo .footer-nav__logo-image {
  padding-left: 30px;
}

.footer-nav__container .footer-nav__logo .icon {
  padding-right: 5px;
}

.footer-nav__container .footer-nav__footer {
  margin-left: -15px;
}

.footer-nav__container .footer-nav__footer .footer-nav__items .item {
  color: white;
  list-style-type: none;
  padding: 3px;
}

.footer-nav__container .footer-nav__elements {
  margin-right: 30px;
}

.footer-nav__container .footer-nav__elements .footer-nav__button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 12px 25px;
  color: white;
  border: none;
  border-radius: 5rem;
}

.footer-nav__container .footer-nav__elements .footer-nav__text {
  color: #9698a6;
  font-size: 12px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=style.css.map */